.app-container {
  font-family: Arial, sans-serif;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

.versions {
  display: flex;
  flex-direction: column; /* Align versions vertically */
  align-items: flex-start; /* Align text to the left */
  margin-top: 5px;
  font-size: 0.8em;
}

.versions small {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}
